@font-face {
   font-family: 'chinese rocks rg';
   font-display: swap;
   src: url('file:///C:/Users/Joham/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-06-25_232721/fonts/chinese%20rocks%20rg/font.ttf');
}
